# python
__pycache__/
*.pyc
*.pyo
*.pyd

# packaging
*.egg-info/
build/
dist/

# artifacts
*.pdf
.DS_Store
renderstudy_bot_storage/docx/
renderstudy_bot_storage/md/
.env
renderstudy_bot_storage/text/20260317_105407_904348619_216_input.txt
renderstudy_bot_storage/text/20260317_105407_904348619_216_output.docx
renderstudy_bot_storage/text/20260317_105407_904348619_217_input.txt
renderstudy_bot_storage/text/20260317_105407_904348619_217_output.docx
